
   * {
  margin:0; padding:0; border:0; box-sizing:border-box; 
  font-family: 'Shadows Into Light', cursive;
   } 
 

   h1 {
    padding-left:.5em;
}

h2, h3, h4, h5, h6, p {
    padding-left:1.5em;
    font-weight:300;
}

.container{
display:flex;
flex-direction:row;
flex-wrap: wrap;
}

.logo {
    width:100%;
    background: white;
}



/* navigation */
nav {
    background-color:#2c9ab7; min-height: 75px;
    display:flex;  align-items: center; 
    min-height:50px;
}

nav ul {
text-align: right;   
list-style-type: none;
padding: 0;
height: 100%;
margin: 0;
width: 100%;
align-content:center; 
}

nav li {
    height: 100%;
    display:inline-flex;
    text-align: end;
    padding-right: 5%;
    font-size: 2rem;
}

/* article one */
.middle {
    background-color: #623e80;
    color: white;
    text-align: left;
}


/* aside */

aside {

    background-color: #623e80;
    flex: 0 0 200px;
}

.first img {
    
    background-color: #623e80;
    width:75%
}

blockquote {

color: white;
font-size: 1rem;
padding-left:5%;
padding-right:5%;
padding-top:2%;
padding-bottom:2%;
font-family: 'Shadows Into Light', cursive;

}

.first img {
    padding: 0;
}

/* main content */
main {
    display:flex; flex-flow: row nowrap; 
    min-height:500px;
}

aside:nth-child(1) {
    flex: 0 0 250px;
}

.padding {
    padding:1%;
}

article {
    flex: 1 0 auto;
}

article h1 {
    display: inline-flex;
    text-align:right;
    /* padding: 1%; */
}

article h2 {
     padding-top: 1%;
}

.resume {
    display:inline-flex;
}

.resume h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.resume p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}



figure {
    display: inline-flex;
    text-align: center;
    padding: 5%;
}


article p {
    display: inline-flex;
    text-align: center;
    padding: 5%;
}

article a {
    color:#2c9ab7;
    font-size:1rem;
    font-weight: 700;
}

aside:nth-child(3) {
    flex: 0 0 20px;
}
   
   
a:link {
    text-decoration: none;
    color:purple;
}

/* a:active {
    color:black
} */

a:hover {
    color:orange;
}

.active {
    color:white;
}

img {
    padding-left:1.5em;
}

footer {
    text-align:center;
    min-height: 50px;
    background-color: #2c9ab7;
    color:white;
    padding-top: 1%;
    margin-bottom:0;
    
}

 